<!DOCTYPE HTML>
<html lang="en">
<head>
    {% block head %}
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Django Jquery file upload demo</title>
    <meta name="description" content="File Upload">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jquery-file-upload/css/jquery.fileupload-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/blueimp-gallery/css/blueimp-gallery.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
{% block content %}{% endblock content %}
</body> 
</html>